/*var-color*/

:root {
    --cn1: #F26800;
    --cn2: #14140F;
    --cn3: #A3CCAB;
    --cn4: #053D38;
    --white: #ffff;
    --transparent: rgba(255, 255, 255, 0);
}
/*var-fonts*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --fnt1: 'Quicksand', sans-serif;
}

/*style-base*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fnt1);
}

a {
    color: var(--white);
}

body,html {
    max-width: 100%;
    background-color: var(--cn4);
    scroll-behavior: smooth;
}

.container {
    width: 85%;
    margin: auto;
}

/*flex*/

.flex-r-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

            /*style-component-page*/

/*Navigation-bar*/

header {
    background-color: var(--cn2);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo-nav {
    width: 40%;
    color: var(--white);
    font-family: var(--fnt1);
    text-align: end;
}

.navigation {
    width: 60%;
    text-decoration: none;
    color: var(--white); 
}

.navigation ul {
    list-style: none;
    display: flex;
    padding-top: 7px;
    font-size: 20px;
    font-weight: 600;
}

.navigation ul li {
    margin: 0 10px;
}

.navigation ul li a:hover {
    color: var(--cn1);
}

/*Nav celular*/

.navigation-cell {
    display: none; 
}

.navigation-cell i{
    color: var(--white);
    font-size: 35px;
}

#navigation-cell-b {
    display: none;
}

.navigation-mobile {
    width: 100%;
    display: flex;
    justify-content: start;
    animation: fadein 0.5s normal;
    transition: 1s;
    position: fixed;
    z-index: 1;
}

.navigation-mobile-c1 {
    background-color: var(--cn2);
    min-width: 60%;
    max-height: 100vh;
    min-height: 100vh;
    box-shadow: 0px 0px 50px black;
}

.navigation-mobile-c1 ul {
    list-style: none;
    font-size: 30px;
    font-weight: 600;
    margin-top: 30%;
}

.navigation-mobile-c1 ul li {
    margin: 35px 0;
    padding-right: 20px;
    text-align: end;
    animation: fadein 0.5s normal;
    text-align: center;
}

.navigation-mobile-c1 ul li a:hover {
    color: var(--cn1);
}

.navigation-mobile {
    display: none;
} 

@keyframes fadein {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
  }

@media only screen and (max-width: 715px) {
    .navigation {
        display: none;
    }

    .navigation-cell {
        display: block;
    }
}

main {
    padding-top: 100px;
}

.home {
    width: 100%;
}

.home-flex {
    display: flex;
    justify-content: space-between;
}

.Buton-start {
    width: 100%;
}

.home-text h1 {
    font-size: 4em;
    color: var(--cn1);
}

.home-text h2 {
    font-size: 3em;
    color: var(--white);
}

.home-text p {
    color: var(--white);
    font-size: 1.4em;
    margin-top: 4em;
    font-weight: 500;
}

.home-image {
    min-width: 50%;
}

.home-image-image {
    max-height: 90vh;
    display: flex;
    justify-content: center;
}

.home-image-image img{
    width: 200px;
} 

.Buton-start-btn button{
    border: 4px solid var(--cn2);
    width: 270px;
    border-radius: 30px;
    background-color: var(--transparent);
    padding: 15px 0;
    font-size: 20px;
    font-weight: bolder;
    color: var(--cn2);
}

.Buton-start-btn {
    width: 270px;
    border-radius: 30px 30px 25px 25px;
    background-color: var(--cn1);
    padding-bottom: 5px;
    margin: auto;
}

.Buton-start-btn:hover {
    padding: 0px;
}

.skills {
    padding-top: 130px;
}

.titles {
    text-align: center;
    color: var(--white);
    font-size: 2em;
    margin-bottom: 100px;
}

.skills-flex {
    display: flex;
    justify-content: space-between;
}

.skills-group {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 5%;
}

.skills-group-cll {
    display: none;
}

.skill-single {
    font-size: 40px;
    width: 33%;
    padding-bottom: 7px;
    color: var(--cn1);
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.658);
    transition: 0.5s;
    text-align: center;
}

.skill-single:hover {
    color: var(--cn3);
    font-size: 50px;
}

.text-skill h3 {
    color: var(--white);
    font-size: 35px;
}

.text-skill p {
    margin-top: 1em;
    color: var(--white);
    font-weight: 400;
}

@media only screen and (max-width:715px) {
    .navigation {
        display: none;
    }

    .navigation-cell {
        display: block;
    }

    .Buton-start-btn {
        width: 60vw;
    }

    .Buton-start-btn button {
        width: 60vw;
        padding: 10px;
    }

    .home-flex {
        display: flex;
        flex-direction: column;
    }

    .home-text p {
        color: var(--white);
        font-size: 1.4em;
        margin-top: 1em;
        font-weight: 500;
    }

    .home-image-image img{
        height: 35vh;
        width: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .skills-flex {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .skills-group {
        display: none;
    }

    .skills-group-cll {
        display: flex;
        overflow: auto;
        margin-bottom: 70px;
        scrollbar-color: #007bff #F5F5F5;
        scrollbar-width: thin;
    }

    .skills-group-cll::-webkit-scrollbar {
        background-color: var(--cn2);
        border-radius: 10px;
        height: 10px;
    }

    .skill-single {
        width: auto;
        padding:  0 20px;
        margin-bottom: 20px;
    }

    .skills-group-cll::-webkit-scrollbar-thumb {
        background-color: var(--cn1);
        border-radius: 10px;
    }

    .skill-single:hover {
        color: var(--cn3);
        font-size: 40px;
    }
}

.sites {
    margin-top: 60px;
}

.sites-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.site-single {
    padding-bottom: 40px;
    max-width: 100%;
    margin: auto;
}

.site-single img{
    height: 250px;
    max-width: 100%;
}